@model IEnumerable<Calendar.Models.EventViewModel>

@{
    ViewBag.Title = "ViewEvent";
}

<h2>Events</h2>

@if (Model.Count() > 0)
{
    <p>
        @Html.ActionLink("Create a new event.", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                Start Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                End Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAllDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRepeating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAllDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRepeating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h3>There are no events! Click @Html.ActionLink("here", "Create", "Calendar", new { area = "" }, null) to make one.</h3>
}